:root{
	--laranja: #F8A03C;
	--branco: #F7FFF2;
	--preto: #170907;
	font-family: 'Lumanosimo', cursive;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F8A03C;
	font-size: 38px;
	font-weight: bold;

}

main{
	display: grid;
	grid-template-areas: "bolo", "torta", "fatia", "pote", "marmita";
	grid-gap: 0.2em;
	grid-template-columns: repeat(5, 1fr);
	background-color: #F7FFF2;
}

#bolo{
	grid-area: "bolo";
}
#torta{
	grid-area: "torta";
}
#fatia{
	grid-area: "fatia";
}
#pote{
	grid-area: "pote";
}
#marmita{
	grid-area: "marmita";
}

.foto{
	max-width: 98%;
	padding-left: 2%;
	height: 300px;
	align-self: auto;
	width: auto;
}

.valor{
	font-size: 2em;
}

.produto{
	display: flex;
	flex-wrap: wrap;
	color: #170907;
	text-align: center;
	font-size: 1.1em;
	width: auto;
	height: 5em;
	padding-top: 5%;
}

footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F8A03C;
}

.icon{
	max-width: 2rem;
	max-height: 2rem;
}