.container {
	background-image: repeating-radial-gradient(#000000, #550060, #250030);
	color: aliceblue;
	background-attachment: fixed;
}

.links {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	left: 1rem;
	text-align: center;
	display: flex;
}
.buttons {
	display: flex;
	text-align: center;
	justify-content: space-around;
	gap: auto;
	width: 100%;
}

.icon {
	min-width: 1em;
	max-width: 3em;
	min-height: 1em;
	max-height: 3em;
	padding: .4rem;
	margin: auto;
	text-align: center;
	background-color: #d06ad0c2;
	border: #000000 solid .1em;
	border-radius: 15px;
}