:root {
	font-family: 'Mate', serif;
}

.banner {
	font-size: 1.7rem;
	text-align: center;
	padding-top: 3rem;
}

.contos {
	padding: 2%;
	text-align: justify;
}

.historia {
	font-size: 2.3rem;
	font-weight: bolder;
	display: flex;
}
.contos p {
	font-size: 1.3rem;
	line-height: 1.8rem;
	text-indent: 5%;
}
.respiro {
	text-align: center;
}
.placa {
	text-align: center;
	padding: 3% 0;
	margin: 0 30%
}
#nota {
	font-size: 1rem;
	text-align: right;
}
a:link, a:visited {
	color: aliceblue;
}
#btn {
	position: fixed;
	bottom: 2em;
	right: 1em;
	visibility: hidden;
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	font-weight: 800;
	background-color: #d06ad0c2;
}
#btn.mostrar {
	visibility: visible;
}

@media screen and (max-width:750px) {
	.contos {
		padding-bottom: 5rem;
	}
	#btn.mostrar {
	visibility: hidden;
	}
	.placa {
		text-align: center;
		max-width: 300px;
		padding: 2%;
		margin: 0;
	}
}