.container {
	display: flex;
	background-image: repeating-radial-gradient(#000000, #550060, #250030, #850090);
}

.links {
	order: -1;
	display: block;
}

.buttons {
	display: inline-block;
	position: fixed;
	left: .5rem;
	top: 1rem;
	right: auto; 
	margin: auto;
	width: fit-content;
}

main {
	width: auto;
	padding-left: 8rem;	
}

.icon {
	min-width: 3em;
	max-width: 5em;
	min-height: 3em;
	max-height: 5em;
	padding: .4rem;
	margin: .5em auto;
	text-align: center;
	background-color: #d06ad0c2;
	border: #000000 solid .3em;
	border-radius: 15px;
}